Bug with spaces inside RDATA with generic TYPE63 rr

dns-tools verify is giving the error "Zone Digest: error parsing zone: dns: Error hexadecimal wrong size:.." when its input zone has a TYPE63 RR with spaces inside the RDATA. Spaces are allowed in RFC3597 section 5, and named-checkzone returns ok, but dns-tools fails to parse the record.
Here I attach an example zone. If you remove the space, the verify succeeds.

```
$ cat generic-space.zone 
example.	86400	IN	NS	ns.example.
example.	86400	IN	SOA	ns.example. admin.example. 2018031900 1800 900 604800 86400
example.	86400	IN	TYPE63  \# 54 7848b91c01018ee54f64ce0d57fd70 e1a4811a9ca9e849e2e50cb598edf3ba9c2a58625335c1f966835f0d4338d9f78f557227d63bf6
ns.example.	3600	IN	A	127.0.0.1

$ ./dns-tools verify -S -z example -f generic-space.zone 
[dns-tools] 2022/01/31 10:04:41 Error reading Config File: Config File "dns-tools-config" Not Found in "[/etc/dns-tools /home/hsalgado/nic/labs/firma-distribuida/dns-tools]". Using flags only
[dns-tools] 2022/01/31 10:04:41 Zone Signature: Skipped verification (verify-signatures flag is false)
[dns-tools] 2022/01/31 10:04:41 Verifying ZONEMD digests
[dns-tools] 2022/01/31 10:04:41 Reading and parsing zone example (updateSerial=false)
[dns-tools] 2022/01/31 10:04:41 Zone Digest: error parsing zone: dns: Error hexadecimal wrong size: "7848b91c01018ee54f64ce0d57fd70" at line: 3:63
```

3b18e80 fix it